{{ define "curtidas" }}
    <i class="fa-solid fa-heart curtir-publicacao" style="cursor: pointer;" title="Curtir publicação"></i>
    <span> {{ .Curtidas }} </span>
{{ end }}

{{ define "editar" }}
    <a href="/publicacoes/{{ .ID }}/atualizar" style="text-decoration: none;" title="Editar publicação"><i class="fa-solid fa-pen-to-square"></i></a>
{{ end }}

{{ define "deletar" }}
    <i class="fa-solid fa-trash text-danger deletar-publicacao" style="cursor: pointer;" title="Deletar publicação"></i>
{{ end }}



{{ define "cabecalho-publicacao" }}
    <h1 class="display-4">{{ .Titulo }}</h1>
    <p class="lead">{{ .Conteudo }}</p>
    <!-- 
        esse padrao de data é reconhecido nos templates com dia/mes/ano 
        é chamada de data de referencia
        Jan 2 15:04:05 2006 
         1  2  3  4  5  6
        dia / mes / hora / minuto / segundo / ano 
        3:4:5 adiciona hora:minutos:segundos na data 
    -->
    <a href="#">{{ .AutorNick }} {{ .CriadaEm.Format "02/01/2006 15:04:06" }}</a>
    <hr class="my-4">
{{ end }}

{{ define "publicacao-com-permissao" }}
<div class="jumbotron" data-publicacao-id="{{ .ID }}">
    {{ template "cabecalho-publicacao" . }}
    <p>
        {{ template "curtidas" . }}
        {{ template "editar" . }}
        {{ template "deletar" . }}
    </p>
</div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
<div class="jumbotron" data-publicacao-id=  "{{ .ID }}">
    {{ template "cabecalho-publicacao" . }}
    <p>
        {{ template "curtidas" . }}
    </p>
</div>

{{ end }}

