<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Crie sua conta agora mesmo!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                </div>                
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu apelido" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha" required="required">
                </div>                
                <button type="submit" class="btn-devbook">Cadastrar</button>
                <a href="/login">Clique aqui para fazer o Login</a>
        </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/cadastro.js"></script>
</body>
</html>