<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>DevBook - Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-login">
                <span>Seja bem vindo ao DevBook!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <button type="submit" class="btn-devbook">Login</button>
                <a href="/criar-usuario">Clique aqui para cria a sua conta</a>
        </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/login.js"></script>
</body>
</html>